In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
63,tt3569230,25000000,42972994,Legend,Tom Hardy|Emily Browning|Christopher Eccleston...,Brian Helgeland,"Love, fight, live, rule like a legend.","Suave, charming and volatile, Reggie Kray and ...",131,Crime|Thriller,Working Title Films|Cross Creek Pictures|Anton...,9/9/2015,6.7,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}
data ['profit'] = data['revenue']-data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [5]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [8]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [10]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110'

In [12]:
data["runtime"].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '107'

In [14]:
data[data.runtime == data.runtime.median()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
70,tt2279339,17000000,24000000,Love the Coopers,Steve Martin|Diane Keaton|John Goodman|Alan Ar...,Jessie Nelson,"Christmas means comfort, joy and chaos.",When four generations of the Cooper clan come ...,107,Family|Comedy,Imagine Entertainment|Groundswell Productions|...,11/12/2015,5.3,2015,7000000
210,tt0900387,15000000,9104716,Suite FranÃ§aise,Michelle Williams|Kristin Scott Thomas|Matthia...,Saul Dibb,Based on the Best Selling Novel,"France, 1940. In the first days of occupation,...",107,Drama|Romance|War,Qwerty Films|Alliance Films|Canal+|TF1 Droits ...,11/5/2014,6.9,2014,-5895284
224,tt2771372,6000000,3485127,Veronica Mars,Kristen Bell|Jason Dohring|Enrico Colantoni|Ch...,Rob Thomas,She thought she was out,Years after walking away from her past as a te...,107,Comedy|Drama|Crime,Warner Bros.|Warner Bros. Interactive Entertai...,3/13/2014,6.3,2014,-2514873
229,tt2978462,36000000,52424533,Dolphin Tale 2,Morgan Freeman|Ashley Judd|Nathan Gamble|Cozi ...,Charles Martin Smith,WINTER's amazing true story... now has HOPE.,The team of people who saved Winter's life rea...,107,Family|Drama,Alcon Entertainment|Color Force|Boxing Cat Films,9/12/2014,6.8,2014,16424533
338,tt1013752,85000000,363164265,Fast & Furious,Vin Diesel|Paul Walker|Jordana Brewster|Michel...,Justin Lin,New Model. Original Parts.,"When a crime brings them back to L.A., fugitiv...",107,Action|Crime|Drama|Thriller,Universal Pictures|Original Film|One Race Prod...,4/2/2009,6.4,2009,278164265
347,tt1091722,9500000,17164377,Adventureland,Jesse Eisenberg|Kristen Stewart|Martin Starr|K...,Greg Mottola,Nothing brings people together like a crappy s...,"In the summer of 1987, a college graduate take...",107,Comedy,Miramax Films|Sidney Kimmel Entertainment|This...,4/3/2009,6.3,2009,7664377
359,tt0458525,150000000,341131793,X-Men Origins: Wolverine,Hugh Jackman|Liev Schreiber|Danny Huston|Lynn ...,Gavin Hood,Witness the Origin.,"After seeking to live a normal life, Logan set...",107,Adventure|Action|Thriller|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,4/28/2009,6.2,2009,191131793
396,tt1424381,40000000,126248813,Predators,Topher Grace|Alice Braga|Laurence Fishburne|Ad...,NimrÃ³d Antal,Fear is Reborn,A mercenary named Royce reluctantly leads a mo...,107,Action|Science Fiction|Adventure|Thriller,Twentieth Century Fox Film Corporation|Davis E...,7/3/2010,5.8,2010,86248813
411,tt1386588,100000000,170432927,The Other Guys,Will Ferrell|Mark Wahlberg|Eva Mendes|Samuel L...,Adam McKay,When the cops are busy... Our only hope is...,NYPD detectives Christopher Danson (Johnson) a...,107,Action|Comedy|Crime,Columbia Pictures|Gary Sanchez Productions,8/6/2010,6.1,2010,70432927
412,tt1193631,30000000,159291809,Step Up 3D,Rick Malambri|Adam G. Sevani|Joe Slaughter|Sha...,Jon M. Chu,Two Worlds. One Dream.,A tight-knit group of New York City street dan...,107,Drama|Romance,Summit Entertainment|Touchstone Pictures,8/4/2010,6.5,2010,129291809
448,tt1135084,32000000,69055695,Takers,Chris Brown|Hayden Christensen|Matt Dillon|Mic...,John Luessenhop,Who's Taking Who?,"A seasoned team of bank robbers, including Gor...",107,Action|Crime|Drama|Thriller,Rainforest Films,8/26/2010,6.1,2010,37055695
453,tt1385867,30000000,55583804,Cop Out,Bruce Willis|Tracy Morgan|Juan Carlos HernÃ¡nd...,Kevin Smith,Rock out with your Glock out,Officers Jimmy Monroe and Paul Hodges have the...,107,Action|Comedy|Crime,Warner Bros.,2/26/2010,5.5,2010,25583804
460,tt1244754,12500000,6732980,Conviction,Hilary Swank|Minnie Driver|Bailee Madison|Lore...,Tony Goldwyn,An extraordinary journey of how far we go to f...,When Betty Anne Waters' older brother Kenny is...,107,Drama,Oceana Media Finance|Pantheon Entertainment Co...,9/11/2010,7.0,2010,-5767020
473,tt0872230,25000000,19829957,My Soul to Take,Max Thieriot|John Magaro|Denzel Whitaker|Zena ...,Wes Craven,Only One Has The Power To Save Their Souls,A serial killer returns to his hometown to sta...,107,Drama|Horror|Mystery|Thriller,Relativity Media|Rogue,10/8/2010,5.2,2010,-5170043
489,tt1013860,20000000,4634062,Dylan Dog: Dead of Night,Brandon Routh|Peter Stormare|Sam Huntington|Ta...,Kevin Munroe,No pulse? No problem,"The adventures of supernatural private eye, Dy...",107,Action|Comedy|Horror|Mystery|Science Fiction,Hyde Park Films|platinum studios|Long Distance...,10/26/2010,4.9,2010,-15365938
625,tt0942385,92000000,188072649,Tropic Thunder,Ben Stiller|Robert Downey Jr.|Jack Black|Jay B...,Ben Stiller,The movie they think they're making... isn't a...,"Vietnam veteran 'Four Leaf' Tayback's memoir, ...",107,Action|Comedy,DreamWorks SKG|Goldcrest Pictures|Red Hour Fil...,8/9/2008,6.4,2008,96072649
658,tt0780536,15000000,32002538,In Bruges,Colin Farrell|Brendan Gleeson|Ralph Fiennes|Cl...,Martin McDonagh,Shoot first. Sightsee later.,"Ray and Ken, two hit men, are in Bruges, Belgi...",107,Comedy|Drama|Crime,Blueprint Pictures|Scion Films|Film4|Focus Fea...,2/8/2008,7.3,2008,17002538
661,tt0481536,12000000,43493123,Harold & Kumar Escape from Guantanamo Bay,John Cho|Kal Penn|Neil Patrick Harris|Rob Cord...,Jon Hurwitz|Hayden Schlossberg,This time they're running from the joint.,"Having satisfied their urge for White Castle, ...",107,Comedy|Adventure,New Line Cinema,4/25/2008,6.0,2008,31493123
684,tt0800240,25000000,17741298,Deception,Hugh Jackman|Ewan McGregor|Michelle Williams|B...,Marcel Langenegger,"When you're in this world, no one is who they ...",As a corporate auditor who works in a number o...,107,Drama|Thriller|Crime|Mystery,Rifkin-Eberts|Dune Entertainment III|Seed Prod...,4/24/2008,5.8,2008,-7258702
745,tt0983193,130000000,371940071,The Adventures of Tintin,Jamie Bell|Andy Serkis|Daniel Craig|Nick Frost...,Steven Spielberg,"This year, discover how far adventure will tak...","Intrepid young reporter, Tintin and his loyal ...",107,Adventure|Animation|Action|Family|Mystery,Paramount Pictures|Columbia Pictures|WingNut F...,10/25/2011,6.6,2011,241940071
760,tt1192628,135000000,245724603,Rango,Johnny Depp|Isla Fisher|Ned Beatty|Bill Nighy|...,Gore Verbinski,Heroes come in all different colors.,"When Rango, a lost family pet, accidentally wi...",107,Animation|Comedy|Family|Western|Adventure,Paramount Pictures|Nickelodeon Movies|GK Films...,3/2/2011,6.5,2011,110724603
765,tt1563738,15000000,59389433,One Day,Anne Hathaway|Jim Sturgess|Patricia Clarkson|R...,Lone Scherfig,Twenty years. Two people.,"A romantic comedy centered on Dexter and Emma,...",107,Drama|Romance,Film 4|Color Force,3/2/2011,6.9,2011,44389433
848,tt1464174,32000000,83615414,"Big Mommas: Like Father, Like Son",Portia Doubleday|Martin Lawrence|Brandon T. Ja...,John Whitesell,Momma's got back-up.,FBI agent Malcolm Turner and his 17-year-old s...,107,Crime|Comedy|Action,Twentieth Century Fox Film Corporation|Regency...,2/16/2011,5.4,2011,51615414
897,tt0238380,20000000,5359645,Equilibrium,Christian Bale|Taye Diggs|Emily Watson|Angus M...,Kurt Wimmer,"In a future where freedom is outlawed, outlaws...","In a dystopian future, a totalitarian regime m...",107,Action|Science Fiction|Thriller,Dimension Films|Blue Tulip Productions,12/6/2002,6.9,2002,-14640355
946,tt0297884,13500000,29027914,Far from Heaven,Julianne Moore|Dennis Quaid|Dennis Haysbert|Pa...,Todd Haynes,It's time to stop hiding from the truth.,"In 1950s Connecticut, a housewife faces a mari...",107,Drama|Romance,Clear Blue Sky Productions,9/1/2002,6.4,2002,15527914
1047,tt1430615,40000000,24719215,Big Miracle,Drew Barrymore|John Krasinski|Kristen Bell|Vin...,Ken Kwapis,A family of whales trapped beneath the ice. On...,"Based on an inspiring true story, a small-town...",107,Adventure|Drama|Romance,Universal Pictures|Anonymous Content|Working T...,2/2/2012,6.5,2012,-15280785
1139,tt0322259,76000000,236350661,2 Fast 2 Furious,Paul Walker|Tyrese Gibson|Eva Mendes|Cole Haus...,John Singleton,How Fast Do You Want It?,It's a major double-cross when former police o...,107,Action|Crime|Thriller,Mikona Productions GmbH & Co. KG|Universal Pic...,6/5/2003,6.1,2003,160350661
1238,tt1245492,32000000,126041322,This Is the End,James Franco|Jonah Hill|Seth Rogen|Jay Baruche...,Seth Rogen|Evan Goldberg,Nothing ruins a party like the end of the world.,While attending a party at James Franco's hous...,107,Action|Comedy,Columbia Pictures|Mandate Pictures|Sony Pictur...,6/12/2013,6.2,2013,94041322
1259,tt1814621,13000000,18000000,Admission,Tina Fey|Paul Rudd|Ann Harada|Ben Levin|Dan Levy,Paul Weitz,Let someone in.,Strait-laced Princeton University admissions o...,107,Comedy|Drama|Romance,Focus Features,3/21/2013,5.4,2013,5000000
1266,tt2002718,12000000,15008161,Machete Kills,Danny Trejo|Mel Gibson|Amber Heard|Michelle Ro...,Robert Rodriguez,Trained to kill. Left for dead. Back for more.,Ex-Federale agent Machete is recruited by the ...,107,Action|Crime|Thriller,Open Road Films|Overnight Films|AR Films|Aldam...,9/12/2013,5.2,2013,3008161
1393,tt0391304,30000000,42886719,A Lot Like Love,Ashton Kutcher|Amanda Peet|Aimee Garcia|Taryn ...,Nigel Cole,There's nothing better than a great romance......,"On a flight from Los Angeles to New York, Oliv...",107,Comedy,Mile High Productions|Kevin Messick Production...,4/22/2005,6.5,2005,12886719
1431,tt0355702,25000000,13411957,Lords of Dogtown,Emile Hirsch|Victor Rasuk|Rebecca De Mornay|Jo...,Catherine Hardwicke,"They never thought they'd be famous, but they ...",The film follows the surf and skateboarding tr...,107,Drama,Columbia Pictures|TriStar Pictures,6/3/2005,6.9,2005,-11588043
1449,tt0389860,82500000,237681299,Click,Adam Sandler|Kate Beckinsale|Christopher Walke...,Frank Coraci,What If You Had A Remote... That Controlled Yo...,A workaholic architect finds a universal remot...,107,Comedy|Drama|Fantasy|Romance,Original Film|Columbia Pictures Corporation|Re...,6/22/2006,5.9,2006,155181299
1474,tt0454841,15000000,69623713,The Hills Have Eyes,Aaron Stanford|Kathleen Quinlan|Vinessa Shaw|E...,Alexandre Aja,The lucky ones die first.,Based on Wes Craven's 1977 suspenseful cult cl...,107,Horror|Thriller,Dune Entertainment|Major Studio Partners|Crave...,3/10/2006,6.0,2006,54623713
1499,tt0465142,17000000,7314027,American Dreamz,Hugh Grant|Dennis Quaid|Mandy Moore|Willem Daf...,Paul Weitz,Imagine a country where more people vote for a...,"The new season of ""American Dreamz,"" the wildl...",107,Comedy|Drama|Family,Universal Pictures|Depth of Field,3/4/2006,4.6,2006,-9685973
1589,tt0346156,70000000,57958696,Sky Captain and the World of Tomorrow,Jude Law|Gwyneth Paltrow|Giovanni Ribisi|Angel...,Kerry Conran,Who will save us?,"When gigantic robots attack New York City, ""Sk...",107,Mystery|Action|Thriller|Science Fiction|Adventure,Paramount Pictures|Natural Nylon Entertainment...,9/17/2004,5.7,2004,-12041304
1624,tt0358135,50000000,170128460,Shall We Dance?,Richard Gere|Jennifer Lopez|Susan Sarandon|Lis...,Peter Chelsom,Step out of the ordinary,"A romantic comedy where a bored, overworked Es...",107,Drama|Romance|Comedy,Miramax Films,10/15/2004,5.8,2004,120128460
1700,tt0461770,85000000,340487652,Enchanted,Patrick Dempsey|Amy Adams|James Marsden|Timoth...,Kevin Lima,This fairytale princess is about to meet a rea...,The beautiful princess Giselle is banished by ...,107,Comedy|Family|Fantasy|Romance,Walt Disney Pictures|Josephson Entertainment|A...,11/20/2007,6.6,2007,255487652
1708,tt0448134,50000000,32017803,Sunshine,Cillian Murphy|Rose Byrne|Chris Evans|Michelle...,Danny Boyle,"If the sun dies, so do we.",50 years from now the sun is dying and life on...,107,Science Fiction|Thriller,DNA Films|Ingenious Film Partners|UK Film Coun...,4/5/2007,6.8,2007,-17982197
1851,tt0209958,33000000,104155843,The Cell,Jennifer Lopez|Vincent D'Onofrio|Vince Vaughn|...,Tarsem Singh,Enter The Mind Of A Killer,A psychotherapist journeys inside a comatose s...,107,Horror|Science Fiction|Thriller,New Line Cinema|Avery Pix|Radical Media|Katira...,8/17/2000,5.7,2000,71155843
1880,tt0190374,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,3.9,2000,-19814759
1882,tt0217756,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,4.4,2000,-11627590

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = '239. Avatar (tt0499549)'

In [16]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [18]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1478'

In [20]:
#Вариант 1
data[data.profit > 0]['imdb_id'].count()

1478

In [21]:
#Вариант 2
data[data['revenue'] > data['budget']]['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [23]:
data9 = data.copy()
data9 = data9.loc[data.release_year == 2008]
data9.set_index('original_title')['profit'].idxmax()

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [25]:
data10 = data.copy()
data10[data10.profit == data10.query('2012 <= release_year <= 2014').profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama'

In [27]:
#Вариант 1
film_genre = data.copy()
film_genre.genres = film_genre.genres.str.split('|')
film_genre = film_genre.explode('genres')
film_genre = film_genre.genres.value_counts()
film_genre

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [28]:
#Вариант 2
film_genre = data.copy()
film_genre.genres = film_genre.genres.str.split('|')
film_genre = film_genre.explode('genres')

film_genre2 = Counter()
for word in film_genre.genres:
    film_genre2[word] += 1
film_genre2

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

In [29]:
Counter(film_genre.genres).most_common(1)

[('Drama', 782)]

In [30]:
#Вариант 3
film_genre = data.copy()
genre_pop = pd.Series(film_genre.genres.str.split('|').sum()).value_counts().idxmax()
print(f'Больше всего фильмов в жанре "{genre_pop}".')

Больше всего фильмов в жанре "Drama".

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = 'Drama'

In [32]:
#Вариант 1
mongen = data.copy()
mongen.profit = mongen['profit'] > 0
mongen.genres = mongen.genres.str.split('|')
pd.Series((mongen.genres).sum()).value_counts().index[0]

'Drama'

In [33]:
#Вариант 2
mongen2 = data[data['profit'] > 0]
pd.Series((mongen2.genres.str.split('|').sum())).value_counts().index[0]

'Drama'

In [34]:
#Вариант 3
mongen3 = data.query('profit>0').copy()
mongen3['genres'] = mongen3.genres.str.split('|')
mongen3 = mongen3.explode('genres')
money = mongen3.genres.value_counts().idxmax()
money

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [35]:
answers['13'] = 'Peter Jackson'

In [36]:
data13 = data.copy()
data13['director'] = data13.director.str.split('|')
data13 = data13.explode('director')

data13 = data13.groupby('director')[['revenue']].sum()
name = data13.revenue.idxmax()
name

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
answers['14'] = 'Robert Rodriguez'

In [38]:
dir_action = data[data.genres.str.contains('Action')].copy()
dir_action.director = dir_action.director.str.split('|')
dir_action = dir_action.explode('director')
dir_action = dir_action.director.value_counts()
dir_action

Robert Rodriguez       9
Paul W.S. Anderson     7
Michael Bay            7
Ridley Scott           6
Antoine Fuqua          6
                      ..
Julie Anne Robinson    1
Rob Pritts             1
Spike Lee              1
David Leland           1
Tamra Davis            1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
answers['15'] = 'Chris Hemsworth'

In [40]:
data15 = data.query('release_year == 2012').copy()
data15['cast'] = data15.cast.str.split('|')
data15 = data15.explode('cast')

data15 = data15.groupby('cast')[['revenue']].sum()
name = data15.revenue.idxmax()
name

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
answers['16'] = 'Matt Damon'

In [42]:
data16 = data[data.budget > data.budget.mean()].copy()
data16['cast'] = data16.cast.str.split('|')
data16 = data16.explode('cast')

data16 = data16.cast.value_counts()
data16

Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Tom Cruise          15
Eddie Murphy        15
                    ..
Willow Smith         1
Geoff Pierson        1
David Hasselhoff     1
Leehom Wang          1
Clint Eastwood       1
Name: cast, Length: 1505, dtype: int64

In [43]:
data16.idxmax()

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [44]:
answers['17'] = 'Action'

In [45]:
#Вариант 1
Counter(data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').sum()).most_common(1)

[('Action', 17)]

In [46]:
#Вариант 2
data17 = data.copy()
data17 = data17[data17.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode()
# Ответ в текстовой форме:
num, genre = data17.value_counts().max(), data17.value_counts().idxmax()
print(f'Nicolas Cage больше всего ({num} раз) снялся в фильмах жанра "{genre}".')

Nicolas Cage больше всего (17 раз) снялся в фильмах жанра "Action".

# 18. Самый убыточный фильм от Paramount Pictures

In [47]:
answers['18'] = 'K-19: The Widowmaker'

In [48]:
data18 = data.copy()
data18 = data18[data18.production_companies.str.contains('Paramount Pictures')]

worst = data18.profit.idxmin()
worst = data18.loc[worst, 'original_title']
worst

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
answers['19'] = '2015'

In [50]:
data19 = data.copy()
data19 = data19.groupby('release_year')[['profit']].sum()
best = data19.profit.idxmax()
best

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [51]:
answers['20'] = '2014'

In [52]:
data20 = data.copy()
data20 = data20[data20.production_companies.str.contains('Warner Bros')]
data20 = data20.groupby('release_year')[['profit']].sum()
bestwb = data20.profit.idxmax()
bestwb

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [53]:
answers['21'] = 'Сентябрь'

In [54]:
data21 = data.copy()
data21.release_date = pd.to_datetime(data21['release_date'])
data21.release_date = data21['release_date'].dt.month
data21.release_date.value_counts(0)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
answers['22'] = '450'

In [56]:
data22 = data.copy()
data22.release_date = pd.to_datetime(data22['release_date'])
len(data[data22.release_date.dt.month.isin([6,7,8])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
answers['23'] = 'Peter Jackson'

In [58]:
data23 = data.copy()
data23.director = data23.director.str.split('|')
data23 = data23.explode('director')
data23.release_date = pd.to_datetime(data23['release_date'])
season = data23[data23.release_date.dt.month.isin([12,1,2])]
season = season.director.value_counts()
season

Peter Jackson          7
Steven Soderbergh      6
Clint Eastwood         6
Adam Shankman          4
Martin Scorsese        4
                      ..
Josh Trank             1
Sergey Bodrov          1
Sara Sugarman          1
Jay Russell            1
Demian Lichtenstein    1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [59]:
answers['24'] = 'Four By Two Productions'

In [60]:
data24 = data.copy()
data24.production_companies = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')
data24['lenfilm'] = data24['original_title'].astype(str).apply(len)
data24 = data24.groupby('production_companies')[['lenfilm']].mean()
long = data24['lenfilm'].idxmax()
long

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [61]:
answers['25'] = 'Midnight Picture Show'

In [62]:
data25 = data.copy()
data25.production_companies = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
data25['filmover'] = data25['overview'].astype(str).apply(len)
data25 = data25.groupby('production_companies')[['filmover']].mean()
long = data25['filmover'].idxmax()
long

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [63]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [64]:
data26 = data.copy()
# Используем функцию вычисления квартиля уровня 0.99
best_1 = np.percentile(data26.vote_average, 99)
data26 = data26[data26.vote_average >= best_1].sort_values(by='vote_average', ascending=False)

data26[['vote_average', 'original_title']].head(10)

      vote_average                                 original_title
599            8.1                                The Dark Knight
9              8.0                                     Inside Out
34             8.0                                           Room
118            8.0                                   Interstellar
125            8.0                             The Imitation Game
370            7.9                                      Inception
1191           7.9                               12 Years a Slave
1183           7.9                        The Wolf of Wall Street
1081           7.9  The Lord of the Rings: The Return of the King
872            7.9                                    The Pianist

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [65]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [66]:
data27 = data.copy()
data27['cast'] = data27.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
pair = data27.explode('cast')
pair.cast.value_counts()

(Daniel Radcliffe, Rupert Grint)         8
(Daniel Radcliffe, Emma Watson)          8
(Rupert Grint, Emma Watson)              7
(Ben Stiller, Owen Wilson)               6
(Johnny Depp, Helena Bonham Carter)      6
                                        ..
(Bruce Greenwood, Jason Biggs)           1
(Claire Forlani, Jason Biggs)            1
(Sienna Guillory, Andy Serkis)           1
(Kris Kristofferson, Dominic Purcell)    1
(Ben Burtt, Elissa Knight)               1
Name: cast, Length: 18121, dtype: int64

# Submission

In [67]:
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [68]:
len(answers)

27